<h1 class="welcome">Welcome to CSE Motors!</h1>

<div class="hero">
  <picture>
    <source media="(min-width: 768px)" srcset="/images/vehicles/delorean.jpg">

    <img src="/images/vehicles/delorean-tn.jpg" alt="delorean car">
  </picture>
  <div class="car-info">
    <p><strong>DMC delorean</strong> <br>
      3 Cup holders <br>
      Superman doors <br>
      Fuzzy dize!</p>
    <button class="own-today">Own Today</button>
  </div>

  <div class="flex-container">
    <div>
      <h2 class="reviews-title">DMC Delorean reviews</h2>
      <ul class="reviews-container">
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </div>
    <div>
      <h3>Delorean Upgrades</h3>
      <div class="update-grid">
        <div class="flux-capacitor">
          <img src="/images/upgrades/flux-cap.png" alt="">
          <span>Flux Capacitator</span>
        </div>
        <div class="flame-decals">
          <img src="/images/upgrades/flame.jpg" alt="">
          <p>Flame Decals</p>
        </div>
        <div class="bumper-stickers">
          <img src="/images/upgrades/bumper_sticker.jpg" alt="">
          <p>Bumper Stickers</p>
        </div>
        <div class="hub-caps">
          <img src="/images/upgrades/hub-cap.jpg" alt="">
          <p>Hub Cap</p>
        </div>
      </div>
    </div>
  </div>
</div>